.code-container {
  background-color: #eee;
  flex: 1;
}

.code-container button {
  position: absolute;
  top: 10vh;
  left: 2vw;
  z-index: 2;
}

.code-content {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 6vh;
  padding: 5vh 2vw 10vh;
}
