.paragraph {
   color: white;
   text-align: center;
}

.paragraph--color-primay {
   color: #032538;
}

.paragraph--color-secondary {
   color: #def320;
}

.paragraph--shadow {
   text-shadow: 0px 0px 5px #def320;
}

.paragraph--big-font {
   font-size: 2.5rem;
}

.paragraph--font-bold {
   font-weight: bold;
}

.paragraph--padding-sx {
   padding: 0.6rem;
}

.paragraph--color-white {
   color: white;
}

.paragraph--justify {
   text-align: justify;
}

.paragraph--align-left {
   text-align: left;
}
