.paragraph {
   color: white;
   text-align: center;
}

.paragraph--color-primay {
   color: #032538;
}

.paragraph--color-secondary {
   color: #def320;
}

.paragraph--shadow {
   text-shadow: 0px 0px 5px #def320;
}

.paragraph--big-font {
   font-size: 2.5rem;
}

.paragraph--font-bold {
   font-weight: bold;
}

.paragraph--padding-sx {
   padding: 0.6rem;
}

.paragraph--color-white {
   color: white;
}

.paragraph--justify {
   text-align: justify;
}

.paragraph--align-left {
   text-align: left;
}

.paragraph--gray-out {
   color: gray;
}

@media (min-width: 768px) {
   .paragraph--big-font {
      font-size: 2.7rem;
   }

   .paragraph--normal-font {
      font-size: 1.3rem;
   }
}

@media (min-width: 1600px) {
   .paragraph--big-font {
      font-size: 3rem;
   }

   .paragraph--normal-font {
      font-size: 1.5rem;
   }
}
