.about {
   background-color: #eee;
}

.about__content {
   width: 90%;
   margin: 0 auto;
   padding: 1.5rem 0;
}

.about__unordered-list {
   display: grid;
   list-style: none;
}

.about__list-item {
   display: flex;
   align-items: center;
   padding: 0.5rem;
}

.list-item__content {
   display: flex;
   align-items: center;
}

.list-item__content img {
   margin-right: 1rem;
}

@media (min-width: 768px) {
   .about__unordered-list {
      grid-template-columns: 1fr 1fr;
   }

   .about__list-item {
      flex-direction: column;
      justify-content: center;
      padding: 0;
   }

   .about__list-item p {
      text-align: center;
      margin-top: 1.3rem;
      font-size: 1.1rem;
   }

   .list-item__content {
      flex-direction: column;
      padding: 1rem;
   }

   .list-item__content img {
      width: 6rem;
   }
}

@media (min-width: 1336px) {
   .about__unordered-list {
      grid-template-columns: 1fr 1fr 1fr;
   }

   .about__list-item p {
      font-size: 1.3rem;
   }

   .list-item__content img {
      width: 8rem;
   }

   .about__list-item {
      padding: 1.2rem 0;
   }

   .about__content {
      width: 80%;
   }
}
