.categories {
  background-color: #eee;
}

.categories__introduction {
  width: 90%;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.categories__introduction h1 {
  text-align: center;
  margin: 0.5rem 0;
}

.categories__description--spacing {
  padding: 0.7rem 0;
}

.categories__unorderd-list {
  display: grid;
  row-gap: 5px;
  list-style: none;
  padding-bottom: 1.5rem;
}

.categories__list-item {
  width: 90%;
  background-color: #032538;
  text-align: center;
  border-radius: 10px;
  padding: 0.9rem;
  margin: 10px auto;
}

.categories__list-item:hover {
  background-color: rgba(3, 37, 56, 0.75);
}

.category-disabled,
.category-disabled p {
  background-color: #777;
  color: #444;
}

.category-disabled:hover {
  background-color: #777;
}

.categories__list-item p::first-letter {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .categories__unorderd-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .categories__description--spacing {
    padding: 1.5rem 0;
  }
}

@media (min-width: 1336px) {
  .categories__unorderd-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .categories__introduction {
    width: 80%;
  }

  .categories__unorderd-list {
    width: 80%;
    margin: 0 auto;
  }
}
.categories {
  background-color: #eee;
}

.categories__introduction {
  width: 90%;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.categories__introduction h1 {
  text-align: center;
  margin: 0.5rem 0;
}

.categories__description--spacing {
  padding: 0.7rem 0;
}

.categories__unorderd-list {
  display: grid;
  row-gap: 5px;
  list-style: none;
  padding-bottom: 1.5rem;
}

.categories__list-item {
  width: 90%;
  background-color: #032538;
  text-align: center;
  border-radius: 10px;
  padding: 0.9rem;
  margin: 10px auto;
}

.categories__list-item:hover {
  background-color: rgba(3, 37, 56, 0.75);
}

.category-disabled,
.category-disabled p {
  background-color: #777;
  color: #444;
}

.category-disabled:hover {
  background-color: #777;
}

.categories__list-item p::first-letter {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .categories__unorderd-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .categories__description--spacing {
    padding: 1.5rem 0;
  }
}

@media (min-width: 1336px) {
  .categories__unorderd-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .categories__introduction {
    width: 80%;
  }

  .categories__unorderd-list {
    width: 80%;
    margin: 0 auto;
  }
}
