.welcome {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: white;
   width: 90%;
   background-color: rgba(0, 0, 0, 0.8);
   padding: 2rem 0.5rem;
   border-radius: 10px;
}
