.editor-container {
  position: relative;
}

.none-edit {
  position: relative;
}

.none-edit::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 4;
}

.none-edit button {
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 5;
  font-weight: bold;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.form-spacing {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.none-edit button svg {
  padding-right: 8px;
}

.editor {
  position: fixed;
  top: 12vh;
  left: 0;
  width: 100%;
}

.minimalize-editor {
  position: fixed;
  z-index: 2;
  top: 8vh;
  left: 0;
  width: 100%;
  background-color: #031b29;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 2rem;
}

.minimalize-editor button {
  margin-right: 1rem;
}

.minimalize-editor button svg {
  font-size: 0.8rem;
}

.display-none {
  display: "none";
}

.code-editor-container {
  position: relative;
}

.slider__divider {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0%;
  background: #e8ff08;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.slider__handle {
  border-radius: 50%;
  flex: 0 0 auto;
  background: rgba(255, 255, 255, 0.2);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: row-resize;
  transition: 0.5s;
}

.slider__handle:hover,
.slider__handle.active {
  background: rgba(255, 255, 255, 0.75);
}

.slider__handle .fa-chevron-left {
  transform: rotateX(360deg);
}

.icon-name {
  font-weight: bold;
  margin-left: 10px;
}

@media (min-width: 568px) {
  .minimalize-editor {
    height: 3rem;
  }

  .editor {
    top: 14vh;
  }
}

@media (min-width: 1024px) {
  .editor-container {
    height: 92vh;
  }

  .none-edit::after {
    display: none;
  }

  .none-edit button {
    display: none;
  }

  .minimalize-editor.display-none {
    position: static;
    display: flex;
    background-color: #032538;
  }

  .minimalize-editor__settings button:nth-child(2) {
    display: none;
  }

  .code-editor {
    height: 100%;
  }
}
