.output {
  background-color: #032538;
  width: 100%;
  color: white;
  padding: 1rem;
}

.output__info {
  width: 100%;
}

@media (min-width: 1024px) {
  .output__info {
    position: static;
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem;
    color: white;
  }
}
